#A1 {
text-decoration: none;
color: #000
}


#A1:visited {
  color: green;
}

#A1:active {
  color: red;
}

#A1:hover {
color : blue
}

#A2 {
text-decoration: none;
color: blue
}



#A2:visited {
  color: purple;
}

#A2:active {
  color: yellow;
}

#A2:hover {
color : red
}
