{% extends "base.html" %}

{% block title %} Tasky {%endblock%}

{% block content %}
<div class="container my-4">
<div class="d-flex justify-content-between" >
    <h1>Category</h1>
</div>

{%for category in categories %}
<div >

    <div class="card row my-3"
         style="background-color: rgba(0,0,0,0.01); ">

        <div class="card-body">
            <div class="d-flex justify-content-between">
            <h5 ><a href="{% url 'category_task' category.id %}">{{category.name}}</a></h5>

            <h5 ><a href="{% url 'delete_category' category.id %}">delete</a></h5>
            </div>

        </div>

    </div>
</div>

{%endfor%}
<div style="margin-top: 2px;margin-bottom: 20px;">
    <div class="pagination justify-content-center">
    <span class="step-links">
        {% if categories.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ categories.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ categories.number }} of {{ categories.paginator.num_pages }}.
        </span>

        {% if categories.has_next %}
            <a href="?page={{ categories.next_page_number }}">next</a>
            <a href="?page={{ categories.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
</div>
</div>
<article class="mb-4" >
    <div class="container px-4 px-lg-5">

        <form class=" row gy-4 gx-4 gx-lg-5 justify-content-center needs-validation" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>{{form.as_p}}</div>
            <div>
                <button class="button-85">Submit</button>
            </div>
        </form>
    </div>
</article>
{%endblock%}